flask<0.11,>=0.10.1
bson
pycrypto
cryptography
jwt
pyjwt
eve
eve_swagger
arrow
diskcache
bcrypt
passlib
elasticsearch>=5.0.0,<6.0.0
elasticsearch_dsl
flask-emails
passwordmeter
pyotp
raven
raven[flask]